<div style="margin: 20px 50px 20px 50px;">
    <div style="overflow: auto">
        <img src="image/complain/tousu-title.png" style="float: left;">
        <div class="com-title">
            如果您对我们有什么宝贵的意见或者建议都可以提出来，并填写表单。说不定会有小礼品相送哦！
        </div>
    </div>
    <div style="margin-top: 50px;overflow: auto">
        <img src="image/complain/tousu.png" style="margin-left: -4px;float:left;">
        <div style="float:left;margin-left: 100px;width: 50%;">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputUname" class="col-sm-2 control-label">用户名</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control com-input" id="inputUname" placeholder="请输入用户名">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-2 control-label">密码</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control com-input" id="inputPassword" placeholder="请输入密码">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">电子邮箱</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control com-input" id="inputEmail" placeholder="请输入电子邮箱">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputContent" class="col-sm-2 control-label">内容</label>
                    <div class="col-sm-10">
                        <textarea class="form-control com-input" id="inputContent" placeholder="请输入内容" rows="10"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10" style="text-align: center">
                        <button type="submit" class="btn btn-default" style="background-color: #e16128;color:#fff;width:200px">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
