<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/main.css">
    <title></title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="head">
            <!--<img src="image/shouye/head-img.jpg" class="head-back">-->
            <!--<img src="image/shouye/head-word.png" class="head-word">-->
            <!--<img src="image/shouye/head-kongzi.png" class="head-kong">-->
            <!--<img src="image/shouye/head-logo.png" class="head-logo">-->
            <!--<img src="image/shouye/head-p.png" class="head-pp">-->

            <!--<div class="head-p">-->
                <!--<p>学习=钱+幸福</p>-->
                <!--<p>[回归本心·致诚至愚]</p>-->
            <!--</div>-->
            <div class="nav nav-bar">
                <ul class="container">
                    <li><a href="http://www.baidu.com">首页</a></li>
                    <li><a>站长分享</a></li>
                    <li><a>产品招商</a></li>
                    <li><a>商城入口</a></li>
                    <li><a>投诉建议</a></li>
                    <li><a>帮助中心</a></li>
                    <li><a>推广英雄榜</a></li>
                </ul>
            </div>
        </div>

        <div class="container container-body" style="padding: 0;background-color: #f1b08d;">



        </div>

        <div class="footer">
            <div class="container-fluid" style="background-color: #ffe6a6;height:20px;margin-bottom: 10px"></div>
            <div class="container">
                <p class="foot-word">相伴成长</p>
                <img class="social" src="../image/shouye/social-sprite.png">

                <div class="xian"></div>
                <div class="foot-add">
                    <p>地址：安徽省合肥市屯溪路193号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电话：18055696333</p>
                    <p>网址：www.xbchzh.com&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;邮箱：2546748624@qq.com</p>
                    <p>Copyright©2015-2016，相伴成长，All rights reserved 版权所有</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../js/jquery.js"></script>
<script src="../js/app.js"></script>
</body>
</html>