<div style="margin: 20px 50px 20px 50px;overflow: auto;">
    <div class="invest-left">
        <img src="image/product/product.png">
        <div>
            <ul class="invest-ul">
                <li><a href="#/investment">产品招商</a></li>
                <li><a href="#/investment">招商须知</a></li>
                <li><a href="#/investment">相关文章</a></li>
                <li><a href="#/investment/investment-contact">联系我们</a></li>
            </ul>
        </div>
    </div>
    <div class="invest-right">
        <div>
            <p class="invest-position">您所在的位置：<span class="invest-p1">产品招商</span> >> <span class="invest-p2">联系我们</span> </p>
        </div>
        <div class="invest-contact-div">
            <div class="invest-contact-baidu">
                百度地图名片
            </div>
            <ul class="invest-contact-ul">
                <li>联络地址：安徽省宿松县园林路巴黎商都</li>
                <li>电话：18055696333</li>
                <li>邮箱：2546748624@qq.com</li>
                <li>网址：www.xbchzh.com</li>
            </ul>
            <div class="invest-contact-kefu">
                <img src="./image/product/kefu.png">
            </div>
        </div>
    </div>
</div>
