<div style="margin: 20px 50px 20px 50px;overflow: auto;">
    <div class="invest-left">
        <img src="image/product/product.png">
        <div>
            <ul class="invest-ul">
                <li><a href="#/investment">产品招商</a></li>
                <li><a href="#/investment">招商须知</a></li>
                <li><a href="#/investment">相关文章</a></li>
                <li><a href="#/investment/investment-contact">联系我们</a></li>
            </ul>
        </div>
    </div>
    <div class="invest-right">
        <div>
            <p class="invest-position">您所在的位置：<span class="invest-p1">产品招商</span> >> <span
                    class="invest-p2">相关文章</span> >> <span class="invest-content">团队20%收益交易方案</span></p>
        </div>
        <div class="invest-article-content">
            <div>
                <h2 class="invest-article-content-title">团队20%收益交易方案</h2>

                <p class="invest-article-content-p">发表人：<span class="invest-article-content-name">XXX</span>发表日期：<span
                        class="invest-article-content-date">2015-09-22</span></p>

                <div class="invest-article-content-at">
                                <pre>
                                职位描述：
                                我们是离用户最近的一群人，我们用自己的方式直接与用户沟通，每一
                                个你的设计都会被数以千万计乃至数以亿计的用户看到，但同时也是数
                                以千万计的挑战。因此，我们需要你有严谨的思维逻辑、极致的细节追
                                求、精准的平面表达，以及对用户的理解力和同理心。
                                交互设计是产品与用户沟通的桥梁。优秀的交互设计师可以在纷杂的约
                                束条件下平衡、取舍、创新，达到可用性、易用性、统一性的完美结合，
                                优化设计效能。在TP-LINK，交互设计师将负责与公司产品相关的应用开
                                发以及对公司现有产品改进与优化，项目涉及产品系统、APP、产品web端
                                管理、官方商城、官方网站等。我们的不断努力只是为了让产品更易用、
                                让用户更愉悦！

                                工作职责：
                                1.	在熟悉产品性能的前提下，关注目标用户行为习惯，积极获取结果，
                                进行整体规划。
                                2.	根据产品需求，进行设计分析、产品分解、产品原型设计，绘制相
                                关流程图、框架图。
                                3.	使用友好易用的交互方式表达设计，并进行界面开发与易用性测试。

                                招聘要求：
                                1.	本科及以上学历相关专业，交互设计、信息设计、计算机、心理学
                                专业优先考虑。
                                2.	熟悉交互设计流程。
                                3.	思路清晰，思维敏捷，善于沟通，快速学习能力强。

                                工作地点：深圳
                                </pre>
                </div>

                <div>
                    <button type="button" class="btn btn-next">上一篇：XXXX</button>
                    <button type="button" class="btn btn-next" style="float: right;">下一篇：XXXX</button>
                </div>
            </div>
        </div>
    </div>
</div>
