<div class="con-1" style="background: #f1b08d;padding: 20px 0;">
    <div class="con-title">
        <img class="" src="image/shouye/con-title.png">

        <p style="font-size: 2em;">站长分享</p>
    </div>
    <div style="margin-top: 20px;overflow: auto;">
        <div class="con-con" style="margin-left: 1%;width: 26%;">
            <p class="con-p">「分享」是一种美德</p>
            <a href="#" class="con-read">点击阅读</a>
        </div>
        <div class="con-con" style="width: 21%;"><img src="image/shouye/pic-1.jpg"></div>
        <div class="con-con" style="width: 21%;"><img src="image/shouye/pic-2.jpg"></div>
        <div class="con-con" style="width: 27%;">
            <p class="con-p">「透明」是一种心境</p>
            <a href="#" class="con-read">点击阅读</a>
        </div>
    </div>
    <div style="margin-top: 10px;overflow: auto;">
        <div class="con-con" style="margin-left: 1%;width: 26%;">
            <p class="con-p">「分享」是一种美德</p>
            <a href="#" class="con-read">点击阅读</a>
        </div>
        <div class="con-con" style="width: 21%;"><img src="image/shouye/pic-3.jpg"></div>
        <div class="con-con" style="width: 21%;"><img src="image/shouye/pic-4.jpg"></div>
        <div class="con-con" style="width: 27%;">
            <p class="con-p">「透明」是一种心境</p>
            <a href="#" class="con-read">点击阅读</a>
        </div>
    </div>
    <span class="span-triangle"></span>
</div>

<div class="con-2" style="padding:30px 0;background-color: #ffe6a6;overflow:auto">
    <div class="con-title">
        <img class="" src="image/shouye/con-title.png">

        <p style="font-size: 2em;">产品招商</p>
    </div>
    <div class="con-2-left">
        <img src="image/shouye/flag.png">
    </div>
    <div class="con-2-right">
        <ul>
            <li><span>2015-09-15</span><a href="#/investment/investment-article">[7]啊实打实啊实打实大撒旦是ADS奥神队大...............................................................................................................</a></li>
            <li><span>2015-09-15</span><a href="#/investment/investment-article">[7]啊实打实啊实打实大撒旦是ADS奥神队大...............................................................................................................</a></li>
            <li><span>2015-09-15</span><a href="#/investment/investment-article">[7]啊实打实啊实打实大撒旦是ADS奥神队大...............................................................................................................</a></li>
            <li><span>2015-09-15</span><a href="#/investment/investment-article">[7]啊实打实啊实打实大撒旦是ADS奥神队大...............................................................................................................</a></li>
            <li><span>2015-09-15</span><a href="#/investment/investment-article">[7]啊实打实啊实打实大撒旦是ADS奥神队大...............................................................................................................</a></li>
            <li><span>2015-09-15</span><a href="#/investment/investment-article">[7]啊实打实啊实打实大撒旦是ADS奥神队大...............................................................................................................</a></li>
            <li><span>2015-09-15</span><a href="#/investment/investment-article">[7]啊实打实啊实打实大撒旦是ADS奥神队大...............................................................................................................</a></li>
            <li><span>2015-09-15</span><a href="#/investment/investment-article">[7]啊实打实啊实打实大撒旦是ADS奥神队大...............................................................................................................</a></li>
            <li><span>2015-09-15</span><a href="#/investment/investment-article">[7]啊实打实啊实打实大撒旦是ADS奥神队大...............................................................................................................</a></li>
        </ul>
    </div>
</div>
<span class="span-triangle-2"></span>

<div class="con-3" style="padding:30px 0;background-color: #f1b08d;overflow:auto">
    <div class="con-title">
        <img class="" src="image/shouye/con-title.png">

        <p style="font-size: 2em;">我的商城</p>
    </div>
    <div style="margin: 0 50px;overflow: auto">
        <div class="con-3-con">
            <div class="con-3-nav">
                <a href="" target="_blank">
                    <div class="con-3-div">
                        <img src="image/shouye/con-huwai.png">
                    </div>
                </a>
                <a><p class="con-3-ins">户外用品</p></a>
            </div>
        </div>
        <div class="con-3-con">
            <div class="con-3-nav">
                <a href="" target="_blank">
                    <div class="con-3-div">
                        <img src="image/shouye/con-shuma.png">
                    </div>
                    <a><p class="con-3-ins">数码产品</p></a>
                </a>
            </div>
        </div>
        <div class="con-3-con">
            <div class="con-3-nav">
                <a href="" target="_blank">
                    <div class="con-3-div">
                        <img src="image/shouye/con-dianqi.png">
                    </div>
                    <a><p class="con-3-ins">家用电器</p></a>
                </a>
            </div>
        </div>
        <div class="con-3-con">
            <div class="con-3-nav">
                <a href="" target="_blank">
                    <div class="con-3-div">
                        <img src="image/shouye/con-muyin.png">
                    </div>
                    <a><p class="con-3-ins">母婴用品</p></a>
                </a>
            </div>
        </div>
        <div class="con-3-con">
            <div class="con-3-nav">
                <a href="" target="_blank">
                    <div class="con-3-div">
                        <img src="image/shouye/con-shoes.png">
                    </div>
                    <a><p class="con-3-ins">鞋帽</p></a>
                </a>
            </div>
        </div>
        <div class="con-3-con" style="margin-right: 0">
            <div class="con-3-nav">
                <a href="" target="_blank">
                    <div class="con-3-div">
                        <img src="image/shouye/con-sofa.png">
                    </div>
                    <a><p class="con-3-ins">家居用品</p></a>
                </a>
            </div>
        </div>
    </div>
</div>