<div style="margin-top: 20px">
    <div style="text-align: center">
        <img src="image/extension/ex.png">
    </div>
    <div class="pro-banner"></div>
    <div class="pro-ex">
        <img src="image/extension/rank.png">
    </div>
    <div style="margin: 30px 150px;overflow: auto">
        <div class="pro-con">
            <p class="pro-title">直系伴友排行榜</p>
            <ul style="padding-left: 0;">
                <li>182****0377&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;28人</li>
                <li>182****0377&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;28人</li>
                <li>182****0377&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;28人</li>
                <li>182****0377&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;28人</li>
                <li>182****0377&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;28人</li>
                <li>182****0377&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;28人</li>
                <li>182****0377&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;28人</li>
                <li>182****0377&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;28人</li>
                <li>182****0377&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;28人</li>
                <li>182****0377&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;28人</li>
                <li>182****0377&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;28人</li>
                <li>182****0377&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;28人</li>
                <li>182****0377&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;28人</li>
                <li>182****0377&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;28人</li>
            </ul>
        </div>
        <div class="pro-con">
            <p class="pro-title">开发率排行榜</p>
            <ul style="padding-left: 0;">
                <li>182****0377&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;50%</li>
                <li>182****0377&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;40%</li>
                <li>182****0377&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;40%</li>
                <li>182****0377&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;40%</li>
                <li>182****0377&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;40%</li>
                <li>182****0377&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;40%</li>
                <li>182****0377&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;40%</li>
                <li>182****0377&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;40%</li>
                <li>182****0377&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;40%</li>
                <li>182****0377&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;40%</li>
                <li>182****0377&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;40%</li>
                <li>182****0377&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;40%</li>
                <li>182****0377&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;40%</li>
                <li>182****0377&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;40%</li>
            </ul>
        </div>
        <div class="pro-hand">
            <img src="image/extension/ex-hand.png">
        </div>
        <div class="pro-btn">
            我要推广&nbsp;&nbsp;&nbsp;▶
        </div>
    </div>
</div>
