<div style="margin: 20px 0">
    <div style="text-align: center">
        <img src="image/enjoy/enjoy.png">
    </div>
    <div class="share-con">
        <div class="share-div share-div1">
            ·分享·
        </div>
        <div class="share-div share-div2">
            ·透明·
        </div>
        <div class="share-div share-div3">
            ·利他·
        </div>
        <div class="share-div share-div4">
            ·责任·
        </div>
    </div>
    <div class="share-list">
        <ul class="share-list-list">
            <li><span>2015-09-15</span><a href="#/share/share-article">[1]啊实打实啊实打实大撒旦是ADS奥神队大...................................................................................................................................................................</a>
            </li>
            <li><span>2015-09-15</span><a href="#/share/share-article">[1]啊实打实啊实打实大撒旦是ADS奥神队大...................................................................................................................................................................</a>
            </li>
            <li><span>2015-09-15</span><a href="#/share/share-article">[1]啊实打实啊实打实大撒旦是ADS奥神队大...................................................................................................................................................................</a>
            </li>
            <li><span>2015-09-15</span><a href="#/share/share-article">[1]啊实打实啊实打实大撒旦是ADS奥神队大...................................................................................................................................................................</a>
            </li>
            <li><span>2015-09-15</span><a href="#/share/share-article">[1]啊实打实啊实打实大撒旦是ADS奥神队大...................................................................................................................................................................</a>
            </li>
            <li><span>2015-09-15</span><a href="#/share/share-article">[1]啊实打实啊实打实大撒旦是ADS奥神队大...................................................................................................................................................................</a>
            </li>
            <li><span>2015-09-15</span><a href="#/share/share-article">[1]啊实打实啊实打实大撒旦是ADS奥神队大...................................................................................................................................................................</a>
            </li>
        </ul>
    </div>
    <div style="text-align: center">
        <button type="button" class="btn btn-share">更多&nbsp;&nbsp;&nbsp;&nbsp;▶</button>
    </div>
</div>